/* HeroesComponent's private CSS styles */
h2{
  color: #369;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.add-button {
  color: whitesmoke;
    margin-top: 2px;
    margin-left: 3px;
    background-color: #369;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 15px;
    font-size: 0.8rem;
}
.add-button:hover {
  background-color: #003399;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  height: 1.6em;
  border-radius: 5px;
  border-color: #405061;
  border-style: groove;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

button.delete {
  position: absolute;
  border-radius: 50px;
  left: 210px;
  top: 5px;
  background-color: white;
  color:  #525252;
  font-size: 1.1rem;
  padding: 1px 8px 3px 8px;
}

button.delete:hover {
  background-color: #405061;
  color: white;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -3px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 5px 0 0 5px;
  transform:scale(0.88);
}
.input {
  margin-bottom: 20px;
}